[submodule "vibe-resume"]
	path = vibe-resume
	url = git@github.com:LiuMengxuan04/vibe-resume.git
[submodule "lapiscv"]
	path = lapiscv
	url = git@github.com:BingyanStudio/LapisCV.git
[submodule "awesome-cv"]
	path = awesome-cv
	url = git@github.com:posquit0/Awesome-CV.git
